<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configBuilders>
    <builders>
      <add xdt:Transform="Remove" 
           xdt:Locator="Match(name)" 
           name="Secrets" />
      <add xdt:Transform="Insert"
           name="Secrets"
           type="Microsoft.Configuration.ConfigurationBuilders.AzureKeyVaultConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Azure, Version=1.0.0.0, Culture=neutral"
           vaultName="demo1233"
           connectionString="RunAs=App" />
    </builders>
  </configBuilders>
  <appSettings>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
